<div id="footer_about"class="container">
    <a class="btn btn-success btn-lg" href="#" role="button">GET SUBSCRIPTION</a>
    <a id="aboutus" href="#" >CONTACT US</a>
    <a id="aboutus" href="#" >ABOUT US</a>
</div>
</body>
</html>