<div id="footer_about"class="container">
    <div class="row">
        <div class="col-md-12">
    <a class="btn btn-success btn-lg" href="#" role="button">GET SUBSCRIPTION</a>
    <a class="aboutus" id="contactus" href="#" >CONTACT US</a>
    <a class="aboutus" href="#" >ABOUT US</a>
    </div>
    </div>
</div>
</body>
</html>