<%- include("partials/header")%>
<h1 id="first_h1"> CRACK JOB INTERVIEWS WITH US!</h1>
<p id="first_p">This Program Helps You To Plan Your Studies And Get >Your Dream Job.</p>
<p id="second_p">WE HAVE A WONDERFUL TEAM WHICH WILL GUIDE YOU WELL SO THAT YOU CAN PRACTICE FOR YOUR UPCOMING PLACEMENT EXAMS.
    TO GET OUR SERVICE PLEASE SUBSCRIBE AND GET YOUR PLAN ACCORDINGLY.</p>
<div id="sub_but">
    <a class="btn btn-success btn-lg" href="#" role="button">GET SUBSCRIPTION</a>
</div>
<div id="what">
    <h3>WHAT WE PROVIDE TO <span id="you">YOU?</span></h3>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
        <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/ygPwBWL/Screenshot-346.jpg">
            <div class="card-body">
              <h5 class="card-title">PREPARATION MATERIAL</h5>
              <p class="card-text">Get the best of quantitative aptitude, verbal, reasoning and programming problems.
                  Advance towards your placement exams step-by-step.
              </p>
              <a href="/prepare" class="btn btn-primary">Get Now</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/Cv6B0FT/Screenshot-347.jpg">
            <div class="card-body">
              <h5 class="card-title">MOCK INTERVIEWS</h5>
              <p class="card-text">Still nervous about the interviews? Don't worry, our expert team will help you out with a series of mock 
                  interviews designed in bottom-up manner.
              </p>
              <a href="#" class="btn btn-primary">Book Now</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://i.ibb.co/x5W75f2/Screenshot-348.png">
            <div class="card-body">
              <h5 class="card-title">GRADUAL FEEDBACKS</h5>
              <p class="card-text">Resume building & correcting, presentation and technical awareness. We will reinforce learning with feedbacks
                  that will be help you grow and improve.
              </p>
              <a href="#" class="btn btn-primary">Try Now</a>
            </div>
          </div>
          </div>
          </div>
        <div class="contain">
          <div class="how-section1">
            <div class="row">
                <div class="col-md-6 how-img">
                    <img src="https://i.ibb.co/kGNXrjs/2.jpg" class="rounded-circle img-fluid" alt="IMAGE"/>
                </div>
                <div class="col-md-6">
                    <h4>Worried and Confused?</h4>
                                <h4 class="subheading">Are you worried about your placement exams and interviews? Does the thought of appearing in the exams scare you?</h4>
                <p class="text-muted">Don't worry because we will teach you the recipe to cook your dream opportunity. From materials that will help
                  you improve your logical and quantitative abilities, we will also provide you quick tips to land the perfect score in your exams. Is
                  English stopping you everytime? While the fact that it can't be done in a short span is true, we have tricks that will balance your 
                  preparation and won't let it affect you as well. What else? Well, we will also give you some secret tips that are collected by people
                  who actually appeared in these interviews. Guess what, these include people who cracked it as well as failed (We all learn from mistakes
                  afterall &#128517;).
                </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <img id="change"src="https://i.ibb.co/sQ4HKMJ/hapy.jpg" class="rounded-circle img-fluid" alt=""/>
                    <h4>Why EnterMock?</h4>
                                <h4 class="subheading">Why us when there are other free sources? Will it be even worth the price(Hard-earned money
                                  ,ain't it)?</h4>
                                <p class="text-muted">EnterMock should be your first preference because it prepares you for the most important part, the interviews.
                                  Not only do we focus on the problem solving but give emphasis to mock interviews as well. This has a bunch of benefits. Firstly, the nightmare
                                  of appearing for an interview will go as you would have already done that quite a few times. Secondly, you would have made all the mistakes
                                  beforehand and the chances of you messing-up your interview will be near zero. Thirdly, you will be able to organize your resume and learn
                                  how and what to speak and the order in which you should speak. Order? What does this even mean? Well this is a secret trick that will attract
                                  the interviewers and throw a sturdy impression.
                                </p>
                </div>
                <div class="col-md-6 how-img">
                    <img id="change2" src="https://i.ibb.co/sQ4HKMJ/hapy.jpg" class="rounded-circle img-fluid" alt=""/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 how-img">
                     <img src="https://i.ibb.co/sm8z2y3/happyemploye.jpg" class="rounded-circle img-fluid" alt=""/>
                </div>
                <div class="col-md-6">
                    <h4>Happy you, happy we.</h4>
                                <h4 class="subheading">How do we ensure this? What kind of happiness is this? </h4>
                                <p class="text-muted">Well, our team comprises of people who have been through these times and we very well understand
                                  that this path is not very easy. We have hence formulated a progressive path with what we call 'GRADUAL FEEDBACK'.
                                This way we start with basic interviews on selective topics first. Once you are ready with it, next topics follow. This continues
                              and you yourself develop the confidence to sit for a full interview. By this time you adapt to the interview environment and
                            learn to formulate and organize your answers as well. What else do you need to crack your dream interview? Excited? Believe it,
                          we are more excited than you to see that smile on your face once you land your dream job. All the best! </p>
                </div>
        </div>

<%- include("partials/footer")%>