<%- include("partials/header")%>
<div style="margin-left: 4%;"><h4>What do you get?</h4></div>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3">
    <div class="card">        
        <div class="card-body">
          <h5 class="card-title">PREPARATION MATERIAL</h5>
          <p class="card-text">The full range of preparation materials with all programming languages available.
              Take your preparation to the next level with our quality materials designed especially for cracking the placement exams.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Resume Building tips and feedback.</h5>
          <p class="card-text">So many people and so many advices about the resume.
              You don't have to worry about the format and the contents of your resume anymore. The people who actually made it to the 
              companies will guide you through. 
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mock Interviews</h5>
          <p class="card-text">The main aim of EnterMock is providing you with a platform where you can prepare for your interviews.
              Get 3 mock interviews guided by our experts with the flexibility you need. With each interview you evolve better and feel confident.
          </p>
        </div>
      </div>
      <div>
      </div>
    </div>
    <div style="margin-left: 54%;">
           <h3> All this for just Rs. <del>299</del> 149/-</h3>
    <a id="sub_but2"class="btn btn-success btn-lg" href="/payment" role="button">Pay Now</a>
    </div>
   

      <div id="footer_about"class="container">
        <div class="row">
            <div class="col-md-12">
        <a class="aboutus" id="contactus" href="#" >CONTACT US</a>
        <a class="aboutus" href="#" >ABOUT US</a>
        </div>
        </div>
    </div>
    </body>
    </html>