<!DOCTYPE html>
<html>
<head>
	<title>Preparation material</title>
    <link rel="stylesheet" type="text/css" href="/prepare.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/home"><img id="logo_img" src="https://i.ibb.co/XWrLjQ9/entermock-logo.jpg" style="width:30%"></a>
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>	
      <div class="alert alert-danger" role="alert" style="font-family: arial">
        <h1>Due to some issues with content our free materials are not available.<br>We will start this soon again.</h1>
      </div>
      
<div class="row">
  <div class="column">
  	<a href="/c_material" style="text-decoration: none;color:#06782c">
   <div class="card" >C programming</div></a>
  </div>
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Python programming</div></a>
  </div>
  <div class="column">
  	<a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Java programming</div></a>
  </div>
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">C++ programming</div></a>
  </div>
</div>
<div class="row" style="margin-top: 40px">
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">DBMS</div></a>
  </div>
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Operating System</div></a>
  </div>
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Networking</div></a>
  </div>
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Software Engineering</div></a>
  </div>
</div>
<div class="row" style="margin-top: 40px">
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Quants</div></a>
  </div>
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Logical</div></a>
  </div>
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Verbal</div></a>
  </div>
  <div class="column"><a href="#" style="text-decoration: none;color:#06782c">
    <div class="card">Puzzles</div></a>
  </div>
</div>
</body>
</html>