#logo_img{
    height: 47px;
    width: 180px;
}
#sub_but{
    margin-left: 45%;
}
#login_but{
    margin-right: 2px;
}
  @media screen and (min-width: 601px) {
    #first_h1{
        font-size: 50px;
        margin-left: 25%;
        margin-top: 5%;
        font-weight: bold;
      }
    #first_p{
      font-size: 30px;
      margin-left: 20%;
    }
    #second_p{
        font-size: 25px;
        margin-left: 10%;
        margin-top: 2%;
      }
    #first_span{
        margin-left: 3%;
    }
  #sub_but{
    margin-left: 40%;
}
#what{
  border: 1px;
  color:#5c5a54;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
}
#what h3{
    padding-left: 31%;
}
.card{
    padding-left: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 18rem;
}
}
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    #first_h1{
        font-size: 30px;
        margin-left: 3%;
        font-weight: bold;
      }
    #first_p{
      font-size: 28px;
      margin-left: 10%;
      font-weight: bold;
    }
    #second_p{
        font-size: 17px;
        margin-left: 6%;
        margin-top: 2%;
      }
    #sub_but{
        margin-left: 23%;
    }
    #what h3{
        padding-left: 0%;
        font-size: 27px;
    }
    #you{
      margin-left: 35%;
    }
    #with_us{
      margin-left: 10%;
    }
    #your{
      margin-left: 3%;
    }
    #what{
      border: 1px;
      color:#5c5a54;
      margin-left: 7%;
      margin-right: 7%;
      margin-top: 4%;
      padding-left: 7%;
  }
    .card{
        padding-left: 4%;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 30rem;
    }
  }
  .card-img-top{
    height:150px;
  }
  #container {
    width:100%; margin-right:auto; margin-left:auto;
  }